body {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    margin: 20px auto;
}

button {
    background-color: rgb(19, 92, 92);
    color: azure;
    padding: 40px;
    margin: 10px;
    border-radius: 25%;
    font-size: 30px;
    box-shadow: 0 0 10px 5px black;
}

#submit {
    padding: 20px 40px;
    font-size: 30px;
    margin: 20px;
}

#headerDiv {
    height: 25px;
    margin: 0;
    padding: 0;
    bottom: 0;
}

#word {
    vertical-align: bottom;
    font-size: 40px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    height: 62px;
    color: black;
}

#character {
    vertical-align: bottom;
    font-size: 240px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    height: 300px;
    color: rgb(243, 87, 113);
}

form {
    text-align: center;
    margin: 0;
}

select {
    padding: 5px;
    font-weight: bold;
    border-radius: 5%;
    box-shadow: 0 0 10px 5px black;
    margin-top: 15px;
    height: 196px;
    font-size: 20px;
    overflow: hidden;
}

option {
    padding: 10px 25px 10px 25px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px dotted;
}

option:hover {
    background-color: #1e90ff;
    color: white;
}

label {
    font-weight: bold;
    font-size: 20px;
}

#container {
    text-align: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    font-weight: normal;
    padding: 5px;
    margin: 5px;
    margin-top: -15px;
    line-height: 15px;
    height: 100vh;
}

.right {
    color: green;
}

.wrong {
    color: red;
}

h3 {
    font-weight: normal;
}

p {
    font-size: 17px;
    ;
}

.disabled {
    pointer-events: none;
}

#good {
    background-color: blue;
    box-shadow: 0 0 10px 5px black;
    width: 200px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 20px;
    padding: 20px;
}

#good:hover {
    background-color: rgb(27, 27, 148);
    transform: scale(1.2);
    text-shadow: 0 0 5px 2px white, 0 0 5px 2px white;
}

#bad {
    background-color: crimson;
    width: 200px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 20px;
    padding: 20px;
}

#bad:hover {
    background-color: rgb(187, 21, 54);
    transform: scale(1.2);
    text-shadow: 0 0 5px 2px white, 0 0 5px 2px white;
}

#newStart {
    bottom: 0;
}

#numbers {
    vertical-align: bottom;
    font-size: 50px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    height: 105px;
    color: rgb(184, 22, 49);
}

#result {
    font-size: 3rem;
    width: 200px;
    text-align: center;

}

#result::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.memoryTable {
    min-height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.memoryTable div {
    min-height: 12vh;
    width: 10vw;
    padding: auto;
    margin: 5px;
    border: #1e90ff 1px solid;
    background-color: #1e90ff;
    border-radius: 5px;
    font-size: 3vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.memoryTable div:hover {
    box-shadow: 0 0 10px black, 0 0 10px black;
}

.guessed div {
    background-color: aliceblue;
    color: #1e90ff;
}

.memoryTable .guessed {
    background-color: aliceblue;
    color: #1e90ff;
    pointer-events: none;
}